.idea/.name
.idea/compiler.xml
.idea/copyright/IMJP10K.DLL
.idea/copyright/IMJPGN.GRM
.idea/copyright/profiles_settings.xml
.idea/dictionaries/ksproxy.ax
.idea/dictionaries/ksuser.dll
.idea/dictionaries/omaximchuk.xml
.idea/encodings.xml
.idea/libraries/org_jzy3d_0_9.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
PhD.iml
*.class
*.xml
out/*.*
out/production/PhD/BinaryAlgorithmRectangle.class
out/production/PhD/Conditions.class
